body{
	background-color: orange;

}
.cuadro{

	width: 250px;
	height: 320px;
	border-radius: 5px;
	background-color: white;
    padding-left: 25px;
    position: absolute;
    top: 115px;
    left: 30px;
}

.cuadro2{
	width: 150px;
	height: 150px;
	border-radius: 5px;
	background-color: black;
    padding-left: 15px;
    position: absolute;
    right: 750px;
    top: 115px;
    

}

.cuadro3{

	width: 42%;
	height: 150px;
	border-radius: 5px;
	background-color: white;
    padding-left: 25px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.cuadro4{

	width: 150px;
	height: 150px;
	border-radius: 5px;
	background-color: white;
    padding-left: 15px;
       position: absolute;
    bottom: 200px;
    right: 750px;
}    
